.cover__subtitle {
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  width: 360px;
}

@media (max-width: 650px) {
  .cover__subtitle {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 380px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 300px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
  }
}
