.place__link {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: 0.8s;
}

.place__link:hover {
  opacity: 0.8;
}

@media (max-width: 488px) {
  .place__link {
    font-size: 12px;
  }
}
